.pageLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.divider {
    /* border-top: solid; */
    width: 80vw;
    border-bottom: solid;
    border-color: grey;
}

.pageTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}