.squareButton {
    width: 100%;
    aspect-ratio: 1 / 1;

    background-color: rgb(231, 170, 37);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: 0.2s;
    outline-width: 1px;
    outline-color: white;
}

.squareButton:hover {
    background-color: rgb(218, 182, 85);
    border-style: none;
    
}

.squareButton:focus {
    outline: none;
}

.outOfDate {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: grey;
    color: white;
}

.outOfDate:hover {
    border-style: none;
    outline: none;
}

.outOfDat:focus {
    border-style: none;
    outline: none;
}