.slot {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    width: 100%;
}

.slot:hover {
    background-color: rgb(243, 243, 243);
}

.pressed {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    width: 100%;
    background-color: rgb(236, 211, 100);
    color: white;
}